<div style="overflow: auto; margin: 0 -15px; text-align: left;">
    <table mat-table class="full-width-table" matSort aria-label="Elements">
      <ng-container matColumnDef="Kode Proyek" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 24px;">Kode Proyek</th>
        <td mat-cell *matCellDef="let row" style="padding: 0 24px;">{{row.kode_proyek}}</td>
      </ng-container>

      <ng-container matColumnDef="Judul">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 24px;">Judul</th>
        <td mat-cell *matCellDef="let row" style="padding: 0 24px;">{{row.title}}</td>
      </ng-container>

      <ng-container matColumnDef="Alamat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 24px;">Alamat</th>
        <td mat-cell *matCellDef="let row" style="padding: 0 24px;">{{row.lokasi}}</td>
      </ng-container>

      <ng-container matColumnDef="Alih Guna">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 24px;">Alih Guna</th>
        <td mat-cell *matCellDef="let row" style="padding: 0 24px;">{{row.alih_guna}}</td>
      </ng-container>

      <ng-container matColumnDef="Sisa Batas Waktu">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 24px;">Sisa Batas Waktu</th>
        <td mat-cell *matCellDef="let row" style="padding: 0 24px;">{{row.batas_waktu}}</td>
      </ng-container>

      <ng-container matColumnDef="Jumlah Lot">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 24px;">Jumlah Lot</th>
        <td mat-cell *matCellDef="let row" style="padding: 0 24px;">{{row.batas_waktu}}</td>
      </ng-container>

      <ng-container matColumnDef="Harga Per Lot">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 24px;">Harga Per Lot</th>
        <td mat-cell *matCellDef="let row" style="padding: 0 24px;">{{row.harga_per_lot}}</td>
      </ng-container>

      <ng-container matColumnDef="Periode Deviden">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 24px;">Periode Deviden</th>
        <td mat-cell *matCellDef="let row" style="padding: 0 24px;">{{row.periode_deviden}}</td>
      </ng-container>

      <ng-container matColumnDef="Estimasi Min - Max %">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 24px;">Estimasi Min - Max</th>
        <td mat-cell *matCellDef="let row" style="padding: 0 24px;">{{row.estimasi_deviden_max+' - '+row.estimasi_deviden_min}} %</td>
      </ng-container>

      <ng-container matColumnDef="Lokasi">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 24px;">Google Map</th>
        <td mat-cell *matCellDef="let row" style="padding: 0 24px;">
          <a target="_blank" href="https://www.google.com/maps/@{{row.longitude}},{{row.latitude}},20.5z">
            <mat-icon>place</mat-icon>
          </a>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 24px;">Status</th>
        <td mat-cell *matCellDef="let row" style="padding: 0 24px;">{{row.status}}</td>
      </ng-container>

      <ng-container matColumnDef="Aksi" stickyEnd>
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0;"></th>
        <td mat-cell *matCellDef="let row" style="padding: 0;">
          <button mat-icon-button [matMenuTriggerFor]="action"><mat-icon>more_vert</mat-icon></button>
          <mat-menu #action="matMenu">
            <button mat-menu-item [routerLink]="['/project/view', row.kode_proyek]">Lihat</button>
            <button mat-menu-item (click)="remove(row.kode_proyek)">Hapus</button>
          </mat-menu>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator #paginator
        [length]="(dataSource.data | async)?.length"
        [pageIndex]="0"
        [pageSize]="5"
        >
    </mat-paginator>
</div>
  